body{ 
} 
.header { 
} 
.header-nav { 
    width: 555px; 
    margin: 0 auto; 
} 
.header-nav-item { 
    display: inline-block; 
    margin: 71px 35px 91px 35px; 
    font-family: 'Playfair Display'; 
    font-weight: 400; 
    font-size: 14px; 
    color: #3d4244;
} 
.header-nav-itemACTIVE{ 
    display: inline-block; 
    margin: 71px 35px 91px 35px; 
    font-family: 'Playfair Display'; 
    font-weight: 400; 
    font-size: 14px; 
    color: #1881aa; 
} 
.main { 
    margin: 0 auto; 
} 
.main-card { 
    display: inline-block; 
    margin: 65px 25px; 
} 
.card { 
    margin: 65px 30px; 
    width: 420px; 
    height: 546px; 
    margin-left: 70px;
    list-style: none;
} 
.card-photo { 
    
} 
.card-text { 
} 
.card-text1 { 
    font-family: 'Ubuntu'; 
    font-weight: 300; 
    font-size: 14px; 
    line-height: 16px; 
    color: #B4AD9E; 
    margin-top: 62px;
} 
.card-text2 { 
    font-family: 'Playfair Display'; 
    font-weight: 400; 
    font-size: 30px; 
    line-height: 40px; 
    color: #626262; 
} 
.card-text3 { 
    font-family: 'Playfair Display'; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 19px; 
    color: #626262; 
    margin-bottom: 40px;
}
.button{
    position: absolute;
    width: 165px;
    height: 60px;
    left: 706px;
    top: 1436px;
}